<div class="animated fadeIn upper_space">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Admin Details</strong>
  
          </div>
  
  
          <div class="card-body">
            <span class="pro_para">Admin Information</span>
  
            <!--------First Div-->
            <app-adminview></app-adminview>
            <!------Basic Details Div1 End-->
  
            <span class="pro_para">Add Admin</span>
            <!--------2nd Div Start-->
            <app-adminadd></app-adminadd>
            <!------Basic Details Div2 End-->
  
  
            <span class="pro_para">Reset Admin Password(Optional)</span>
            <!--------3nd Div Start-->
           <app-resetadmin></app-resetadmin>
            <!------Basic Details Div3 End-->
  
  
          </div>
  
  
  
  
        </div>
      </div>
  
    </div>
  </div>