<div class="animated fadeIn upper_space">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Quntity Add</strong>
  
          </div>
  
  
          <div class="card-body">
            <span class="pro_para">Quntity Information</span>
  
            
            <!--------2nd Div Start-->
            <form [formGroup]="manageQtyForm" (ngSubmit)="manageQty();">
                <div class="basic_details">
              
                  <!---For_Edit Button-->
                  <!--div class="row">
                    <div class="col-sm-12">
                      <div class="form-groups">
                        <button type="submit" class="btn btn-sm btn-primary info_edit basic_label" name="editbutton"
                          id="editbutton" (click)="basicShowHide()">
                          <i class="cui-pencil icons font-2xl mt-4"></i></button>
              
                      </div>
                    </div>
                  </div-->
                  <!---For_Edit Button-->
              
                  <div class="row">
                    <div class="col-sm-3 col-md-offset-1">
                      <div class="form-group">
                        <label for="ccnumber">Existing Quantity</label>
                        <label class="form-control" name="qty_exist" id="qty_exist">{{quantity}}</label>
              
                      </div>
                    </div>
              
                    <div class="col-sm-3">
                      <div class="form-group" >
                        <label for="ccnumber">Product Quantity<span class="star_class">*</span></label>
                        
                        <!----Validation Start-->
                        <input class="form-control"  type="text" id="quantity" name="quantity" formControlName="quantity"
                        placeholder="Enter quantity" (keypress)="numberOnly($event)" [(ngModel)]="quantity" 
                        [ngClass]="{ 'is-invalid': isPasswordSubmitte && mval.quantity.errors }"/>
              
                          <div *ngIf="isPasswordSubmitte && mval.quantity.errors" class="invalid-feedback">
                          <div *ngIf="mval.quantity.errors.required">
                            <div class="error_msg"> Product quantity is required</div>
                          </div>
                            
                          </div>
              
                        <!----Validation End-->
                      </div>
                    </div>
                    
                   
                    
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="company">Price<span class="star_class">*</span> </label>
                       
                        <!----Validation Start-->
                        <input class="form-control"  type="text" id="price" name="price" formControlName="price"
                        placeholder="Enter price" [(ngModel)]="price" (keypress)="numberDotOnly($event)"
                        [ngClass]="{ 'is-invalid': isPasswordSubmitte && mval.price.errors }"/>
              
                          <div *ngIf="isPasswordSubmitte && mval.price.errors" class="invalid-feedback">
                          <div *ngIf="mval.price.errors.required">
                            <div class="error_msg">Product price is required</div>
                          </div>
                            
                          </div>
              
                        <!----Validation End-->
                      </div>
                    </div>
              
                    <div class="col-sm-3">
              
                      <div class="form-group">
                        <label for="name">Selling Unit<span class="star_class">*</span></label>
                        <select class="form-control" (change)="changeUnit($event)" 
                        formControlName="selling_unit_id" ng-Model="selling_unit_id" name="sellunit"
                        [ngClass]="{ 'is-invalid': isPasswordSubmitte && mval.selling_unit_id.errors }">
                          <option value="">--Choose Unit--</option>
                          
                          <!--option *ngIf = "currentSelectedUnit" [ngValue]="currentSelectedUnit.id">{{currentSelectedUnit.unit}}</option-->
                          <!--option *ngFor="let sellunit of sellunits" su_id [ngValue]="sellunit">{{sellunit}}</option-->
                          <option  *ngFor="let sellunit of sellingUnits" [ngValue]="sellunit.id">{{sellunit.unit}}</option>
                          <!---'su_id' and 'unit' taken from db table--->
                        </select>
              
                          <div *ngIf="isPasswordSubmitte && mval.selling_unit_id.errors" class="invalid-feedback">
                          <div *ngIf="mval.selling_unit_id.errors.required">
                            <div class="error_msg">Choose unit</div>
                          </div>
                          </div>
              
              
                      </div>
              
                    </div>
              
                  </div>
              
               
              
                  <div class="row button_row">
                    <div class="card-footer1 buttons">
                      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
                        Submit</button>
                    </div>
                  </div>
              
                </div>
              </form>
            <!------Basic Details Div2 End-->
  
  
  
  
  
          </div>
  
  
  
  
        </div>
      </div>
  
    </div>
  </div>