<div class="animated fadeIn upper_space">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Product Details</strong>

        </div>


        <div class="card-body">
          <span class="pro_para">Product Information</span>

          <!--------First Div-->
          <app-productadd></app-productadd>
          <!------Basic Details Div1 End-->

          





        </div>




      </div>
    </div>

  </div>
</div>