<!-- Main Container  -->
<div class="main-container">
    <div id="content">
        <div class="container">
            <app-banner></app-banner>

            <div class="block-policy1">
                <div class="col-md-12">
                    <div class="static-cates">
                       
                        <ul class="mu-counter-nav">

                            <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat1.jpg" alt="image"></a>
                            
                              </div>
                            </li>
                    
                            <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat2.jpg" alt="image"></a>
                        
                         
                              </div>
                            </li>
                    
                             <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat3.jpg" alt="image"></a>
                     
                              </div>
                            </li>
                    
                             <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat4.jpg" alt="image"></a>
                          
                              </div>
                            </li>
                    
                      
                             <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat5.jpg" alt="image"></a>
                          
                              </div>
                            </li>
                    
                      
                             <li class="col-md-2">
                              <div class="mu-single-counter">
                                <a href="#"><img src="assets/image/catalog/banners/cat5.jpg" alt="image"></a>
                          
                              </div>
                            </li>
                          </ul>
                    </div>
            </div>
            
            </div>



<!-------------------------------------------Hello start-->





<!--------------New Body Local---------------------------------->


                <!-- End List Cat Price -->
            <div class="product-tab-ajax">
                <div class="tab-pro-ajax-header">
                    <h2>SHOP CATEGORIES</h2>
                    <!--ul>
                        <li class="active"><a href="#tab1" data-toggle="tab">Fashion</a></li>
                        <li><a href="#tab2" data-toggle="tab">Electronics  </a></li>
                        <li><a href="#tab3" data-toggle="tab">Homeware</a></li>
                        <li><a href="#tab4" data-toggle="tab">Sport</a></li>
                    </ul-->
                </div>
                <div class="tab-content">
                     <!-----------1st tab1-->
                    <div id="tab1" class="tab-pane active">
                        <div class="clearfix">
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/1s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <!--a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                                        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a-->
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Grocery</a></h3>
                                    <!--div class="product-price">
                                        <del><span>$400.00</span></del>
                                        <ins><span>$360.00</span></ins>
                                    </div-->
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/2s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Fashion</a></h3>
                                  
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/3s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Medicine</a></h3>
                                  
                                </div>
                            </div>

                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/4s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Book</a></h3>
                                  
                                </div>
                            </div>

                            
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/5s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Home Decoration</a></h3>
                                  
                                </div>
                            </div>
                           
                         
                        </div>
                        
                    </div>
                    <hr/>
                    <br/>
                    <!-----------1st tab1 End-->

                    <!-----------2nd tab1-->
                    <div id="tab1" class="tab-pane active">
                        <div class="clearfix">
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/10s.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Bathroom Ware</a></h3>
                                     </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/1d.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Health and Beauty</a></h3>
                                  
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/2d.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Electronics</a></h3>
                                  
                                </div>
                            </div>

                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/3d.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Metallurgy</a></h3>
                                  
                                </div>
                            </div>

                            
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/4d.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Plumbing</a></h3>
                                  
                                </div>
                            </div>
                           
                         
                        </div>
                        <div class="btn-loadmore more_button"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Load More</a></div>
                    </div>
                    

                    <!-----------2nd tab1 End-->
                    
                </div>
            </div>
            
            <div class="banners bannersb">
                <div class="banner">
                  <a href="#"><img src="assets/image/catalog/banners/id2-banner-b.jpg" alt="image"></a>
                </div>
            </div>
            <!-- End Product Tab -->
            
            <div class="product-tab-ajax">
                <div class="tab-pro-ajax-header">
                    <h2>ALL STORES</h2>
                    
                </div>
                <div class="tab-content">
                    <!-----------1st tab1-->
                    <div id="tab1" class="tab-pane active">
                        <div class="clearfix">
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/1.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <!--a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                                        <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a-->
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Grocery</a></h3>
                                    <!--div class="product-price">
                                        <del><span>$400.00</span></del>
                                        <ins><span>$360.00</span></ins>
                                    </div-->
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/2.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Fashion</a></h3>
                                  
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/10.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Medicine</a></h3>
                                  
                                </div>
                            </div>

                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/3.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Book</a></h3>
                                  
                                </div>
                            </div>

                            
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/4.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Home Decoration</a></h3>
                                  
                                </div>
                            </div>
                           
                         
                        </div>
                        
                    </div>
                    <hr/>
                    <br/>
                    <!-----------1st tab1 End-->

                    <!-----------2nd tab1-->
                    <div id="tab1" class="tab-pane active">
                        <div class="clearfix">
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/1p.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Bathroom Ware</a></h3>
                                     </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/2p.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Health and Beauty</a></h3>
                                  
                                </div>
                            </div>
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/10p.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Electronics</a></h3>
                                  
                                </div>
                            </div>

                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/3p.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Metallurgy</a></h3>
                                  
                                </div>
                            </div>

                            
                            <div class="item-product-ajax item-product">
                                <div class="product-thumb">
                                    <a routerLink="/shop" class="product-thumb-link">
                                        <img src="assets/body/images/photos/fashion/4p.jpg" alt="" />
                                    </a>
                                   
                                    <div class="product-extra-link">
                                        <a routerLink="/shop" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a routerLink="/shop">Plumbing</a></h3>
                                  
                                </div>
                            </div>
                           
                         
                        </div>
                        <div class="btn-loadmore more_button"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Load More</a></div>
                    </div>
                    

                    <!-----------2nd tab1 End-->
                    
                    <!-- End Tab -->
                </div>
            </div>
            <!-- End Product Tab -->
            
            <!-- End Adv Color -->
        
            <!-- End Flag Ship -->
            
            <!-- End Adv Color -->
            
            <!-- End Category Color -->
            
            <!-- End Category Color -->
            
            
            <!-- End Category Color -->
            
            <!-- End Category Color -->
            
            <!-- End Category Color -->
            
            <!-- End Category Color -->
          
            <!-------------------New Body End Local------------------------>


        </div>
    </div>
</div>
<!-- //Main Container -->