

<div class="animated fadeIn upper_space">
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-4">
          <i class="fa fa-align-justify"></i> Customer List
        </div>
        
        <div class="col-12 col-sm-12 col-md-2 col-xl mb-3 mb-xl-0 input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-magnifier"></i></span>
          </div>
          
           <input class="form-control" name="valuetosearch" id="myInput" placeholder="Search.." type="text">
        </div>
        
        <div class="col-lg-3">
          <button class="btn btn-block btn-success" routerLink="/theme/customeradd" type="button">Add Customer</button>
        </div>
      </div>
    </div>
    <div class="card-body">

        <div class="scrolling_div">


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sl.No</th>
            <th>Customer-Id</th>
            <th>Date registered</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Street</th>
            <th>Status</th>
            <th colspan=2>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>012</td>
            <td>2012/01/01</td>
            <td>Binod Singh</td>
            <td>+91-7875454515</td>
            <td>Jadavpur</td>
            <td>Golipure</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><a href="" onclick="return confirm ('Do you want to edit ??')" class="badge badge-primary"><i class="cui-pencil icons font-2xl mt-4"></i></a> &nbsp; 
              <a href="" onclick="return confirm ('Are you sure ??')" class="badge badge-danger"><i class="cui-trash icons font-2xl mt-4"></i></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>012</td>
            <td>2012/01/01</td>
            <td>Binod Singh</td>
            <td>+91-7875454515</td>
            <td>Jadavpur</td>
            <td>Golipure</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><a href="" onclick="return confirm ('Do you want to edit ??')" class="badge badge-primary"><i class="cui-pencil icons font-2xl mt-4"></i></a> &nbsp; 
              <a href="" onclick="return confirm ('Are you sure ??')" class="badge badge-danger"><i class="cui-trash icons font-2xl mt-4"></i></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>012</td>
            <td>2012/01/01</td>
            <td>Binod Singh</td>
            <td>+91-7875454515</td>
            <td>Jadavpur</td>
            <td>Golipure</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><a href="" onclick="return confirm ('Do you want to edit ??')" class="badge badge-primary"><i class="cui-pencil icons font-2xl mt-4"></i></a> &nbsp; 
              <a href="" onclick="return confirm ('Are you sure ??')"  class="badge badge-danger"><i class="cui-trash icons font-2xl mt-4"></i></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>012</td>
            <td>2012/01/01</td>
            <td>Binod Singh</td>
            <td>+91-7875454515</td>
            <td>Jadavpur</td>
            <td>Golipure</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><a href="" onclick="return confirm ('Do you want to edit ??')" class="badge badge-primary"><i class="cui-pencil icons font-2xl mt-4"></i></a> &nbsp; 
              <a href="" onclick="return confirm ('Are you sure ??')" class="badge badge-danger"><i class="cui-trash icons font-2xl mt-4"></i></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>012</td>
            <td>2012/01/01</td>
            <td>Binod Singh</td>
            <td>+91-7875454515</td>
            <td>Jadavpur</td>
            <td>Golipure</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><a href="" onclick="return confirm ('Do you want to edit ??')" class="badge badge-primary"><i class="cui-pencil icons font-2xl mt-4"></i></a> &nbsp; 
              <a href="" onclick="return confirm ('Are you sure ??')" class="badge badge-danger"><i class="cui-trash icons font-2xl mt-4"></i></a>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div> <!------scrolling_div----->

      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>

</div>

