
  
            <!--------First Div-->
            <form>
              <div class="basic_details admin-view">
  
                <div class="row view_form">
  
  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="name">First Name</label>
                      <input class="form-control" id="f_name" name="f_name" value="Gupi" disabled>
                    </div>
                  </div>
  
  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="ccnumber">Last Name</label>
  
                      <input class="form-control" id="l_name" name="l_name" value="Gayan" disabled />
                    </div>
                  </div>
  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="name">Phone Number</label>
                      <input class="form-control" id="phone" name="phone" value="8961272806" disabled />
                    </div>
                  </div>
  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="ccnumber">Gender</label>
                      <input class="form-control" id="gender" name="gender" value="Male" disabled />
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!------Basic Details Div1 End-->
  
          
  
  
         