<div class="header-top hidden-compact">
    <div class="container">
        <div class="row">
            <div class="header-top-left col-lg-8 col-md-8 col-sm-6 col-xs-3">
                <div class="hidden-md hidden-sm hidden-xs welcome-msg">Welcome to Local2Vocals Indian Store!</div>
                <div class="telephone hidden-xs hidden-sm hidden-md" >
                    <ul><li><i class="fa fa-envelope"></i>Email: Local2vocals@gmail.com</li></ul>
                </div>
                
            </div>
            <div class="header-top-right collapsed-block col-lg-4 col-md-4 col-sm-6 col-xs-9">
                <div class="inner"> 
                    <ul class="top-link list-inline lang-curr">
                        <li class="currency">
                            <i class="fa fa-phone"></i>Hotline: (888) 4344 6000 - (888) 1338 8193
                            <!--li><i class="fa fa-phone"></i>Hotline: (888) 4344 6000 - (888) 1338 8193</li-->
                        </li>   
                     
                    </ul>
                </div>

                
            </div>
        </div>
    </div>
</div>