<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Cart & Checkout</a></li>
        
    </ul>
    
    <div class="row full_content">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h2 class="title">Checkout</h2>
          <div class="so-onepagecheckout row">
            

            <!-----Check Out Left panel-->
            <app-checkoutleftpanel></app-checkoutleftpanel>
              <!-----Check Out Left panel End-->

            <div class="col-right col-sm-9">
              <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default no-padding">
                        <!--div class="col-sm-6 checkout-shipping-methods">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-truck"></i> Delivery Method</h4>
                            </div>
                            <div class="panel-body ">
                                <p>Please select the preferred shipping method to use on this order.</p>
                                <div class="radio">
                                  <label>
                                    <input type="radio" checked="checked" name="Free Shipping">
                                    Free Shipping - $0.00</label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="Flat Shipping Rate">
                                    Flat Shipping Rate - $7.50</label>
                                </div>
                                
                            </div>
                        </div -->
                        <div class="col-sm-6  checkout-payment-methods">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method</h4>
                            </div>
                            <div class="panel-body">
                                <p>Please select the preferred payment method to use on this order.</p>
                                <div class="radio">
                                  <label>
                                    <input type="radio" id="cash_on_delivery" checked  name="payment_method" value="cod">&nbsp; &nbsp; &nbsp;Cash On Delivery</label>
                                </div>
                                
                                <div class="radio">
                                  <label>
                                    <input type="radio" id="wallet"  name="payment_method" value="wallet">&nbsp; &nbsp; &nbsp;Wallet</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                        
                    </div>
                
                
                
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-ticket"></i> Do you Have a Coupon or Voucher?</h4>
                    </div>
                      <div class="panel-body row">
                        <div class="col-sm-6 ">
                        <div class="input-group">
                          <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon here" value="" name="coupon">
                          <span class="input-group-btn">
                          <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Apply Coupon">
                          </span></div>
                        </div>
                        
                        <!--div class="col-sm-6">
                        <div class="input-group">
                          <input type="text" class="form-control" id="input-voucher" placeholder="Enter your gift voucher code here" value="" name="voucher">
                          <span class="input-group-btn">
                          <input type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-voucher" value="Apply Voucher">
                          </span> </div>
                        </div-->
                      </div>
                  </div>
                </div>
                
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                    </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td class="text-center">Image</td>
                                <td class="text-left">Product Name</td>
                                <td class="text-left">Quantity</td>
                                <td class="text-right">Unit Price</td>
                                <td class="text-right">Total</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-center"><a href="/product"><img width="60px" src="assets/image/catalog/demo/product/fashion/10.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail"></a></td>
                                <td class="text-left"><a href="/product">Emasa rumas gacem</a></td>
                                <td class="text-left"><div class="input-group btn-block" style="min-width: 100px;">



                                  <div class="option quantity">
                                    <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                       
                                        <input class="form-control" type="text" name="quantity" value="1">
                                        <input type="hidden" name="product_id" value="50">
                                        <span class="input-group-addon product_quantity_down">−</span>
                                        <span class="input-group-addon product_quantity_up">+</span>
                                    </div>
                                </div>  
                                    
                                    <span class="input-group-btn">
                                    
                                    <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="" data-original-title="Remove"><i class="fa fa-times-circle"></i></button>
                                    </span></div></td>
                                <td class="text-right">$114.35</td>
                                <td class="text-right">$114.35</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                <td class="text-right">$93.73</td>
                              </tr>
                              <tr>
                                <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                                <td class="text-right">$4.69.00</td>
                              </tr>
                              <tr>
                                <td class="text-right" colspan="4"><strong>Eco Tax (-2.00):</strong></td>
                                <td class="text-right">$3.75.00</td>
                              </tr>
                              <tr>
                                <td class="text-right" colspan="4"><strong>VAT (20%):</strong></td>
                                <td class="text-right">$19.68</td>
                              </tr>
                              <tr>
                                <td class="text-right" colspan="4"><strong>Total:</strong></td>
                                <td class="text-right">$121.85</td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your Order</h4>
                    </div>
                      <div class="panel-body">
                        <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                        <br>
                        <label class="control-label" for="confirm_agree">
                          <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                          <span>&nbsp;&nbsp;&nbsp;I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a></span> </label>
                        <div class="buttons">
                          <div class="pull-right">
                            <input type="button" class="btn btn-primary" id="button-confirm" value="Confirm Order">
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
        
    </div>
</div>