<footer class="site-footer">
    <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p> Copyright © 2015. All right reserved </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="footer-menu">
                    <ul class="footer-menu  ">
                        <li id="menu-item-320"
                            class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
                                title="Changelog" href="../changelog/index.html">Changelog</a></li>
                        <li id="menu-item-319"
                            class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
                                title="Credits" href="../credits/index.html">Credits</a></li>
                        <li id="menu-item-22"
                            class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a
                                title="Contact Us" href="http://mailto:support@shamsoft.net/">Contact Us</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>