<header class="site-header sticky navbar-fullwidth navbar-transparent">

    <!-- Top navbar & branding -->
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Toggle buttons and brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="true" aria-controls="navbar">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>

                <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="http://shtheme.net/demosd/thedocs">
                    <img class="logo" alt="logo" src="asset/img/logo.png" /></a>
            </div>
            <!-- END Toggle buttons and brand -->

            <!-- Top navbar -->
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
                <ul class="nav navbar-nav navbar-right  ">
                    <li id="menu-item-317"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home drop-normal"><a
                            title="DUCUMENTATION" href="../index.html">DUCUMENTATION</a></li>
                    <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal">
                        <a title="FAQ" href="../faq/index.html">FAQ</a></li>
                    <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a
                            title="SUPPORT"
                            href="http://themeforest.net/item/thedocs-online-documentation-template/13070884/comments">SUPPORT</a>
                    </li>
                    <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a
                            title="PURCHASE"
                            href="http://themeforest.net/item/thedocs-online-documentation-template/13070884">PURCHASE</a>
                    </li>
                </ul>
            </div>
            <!-- END Top navbar -->

        </div>
    </nav>
    <!-- END Top navbar & branding -->

</header>