
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Review</a></li>
    </ul>
    
    <div class="row full_content">
        <div id="content" class="col-sm-12">
          
            <div id="tab-review" class="tab-pane fade active in">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal account-register clearfix">
                    
                    
                    <h2 id="review-title">Give review</h2>
                    <div class="contacts-form review_class">

                        <div class="review_class1">
                        <div class="form-group"> <span class="icon icon-user"></span>
                            <input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {this.value = 'Your Name';}" onfocus="if(this.value == 'Your Name') {this.value = '';}"> 
                        </div>
                        <div class="form-group"> <span class="icon icon-bubbles-2"></span>
                            <textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = 'Your Review';}" onfocus="if(this.value == 'Your Review') {this.value = '';}">Your Review</textarea>
                        </div> 
                      
                        
                        <div class="form-group">
                         <b>Rating></b> <span> &nbsp; &nbsp;Bad</span>&nbsp;
                        <input type="radio" name="rating" value="1"> &nbsp;
                        <input type="radio" name="rating" value="2"> &nbsp;
                        <input type="radio" name="rating" value="3"> &nbsp;
                        <input type="radio" name="rating" value="4"> &nbsp;
                        <input type="radio" name="rating" value="5"> &nbsp;<span>Good</span>
                        
                        </div>

                    </div>
                        <div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--------End-->

