<!-- Main content -->
<article class="col-md-9 col-sm-9 main-content" role="main">
<%= console.log("HiIIIIII",mydata) %> 

    <p>
    <header>
      <h1>API interface</h1>
      <p>A necessary component for your documentation template. Categorize your pages in different categories and
        let your readers to easily navigate between the pages.</p>
      <p></p>
    </header>
    <div class="row">

      <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">
          <section>
            <p>You can find an example of a sidebar in left side of this page. A sample code is as follow.</p>
            <div class="code-snippet">
              <pre class="line-numbers"><code class="language-markup">
&lt;aside class=&quot;col-md-3 sidebar&quot;&gt;

&lt;ul class=&quot;sidenav&quot;&gt;
&lt;li&gt;
  &lt;a href=&quot;#&quot;&gt;Getting started&lt;/a&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Overview&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;How to install&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Configuration&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Next step&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;

&lt;li&gt;
  Components
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Code&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Promo&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Steps&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Media&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;

&lt;li&gt;
  &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-css3&quot;&gt;&lt;/span&gt;CSS&lt;/a&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-font&quot;&gt;&lt;/span&gt; Typography&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-tag&quot;&gt;&lt;/span&gt; Label&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-square-o&quot;&gt;&lt;/span&gt; Button&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;

&lt;/aside&gt;
</code></pre>
            </div>





        </div>
      </div>
    </div><!-- End row -->


    <div class="callout callout-info" role="alert">
      <h4>Dropable</h4>
      <p>If you want to show sub-links by clicking on main category, add <code>.dropable</code> class to your
        <code>.sidenav</code>. You can add <code>.open</code> class to your <code>.sidenav ul</code> to make them
        open by default.</p>
    </div>





    <div class="callout callout-info" role="alert">
      <h4>Sticky</h4>
      <p>If you want to have your sidebar always in screen, even after scrolling, add <code>.sticky</code> class to
        the <code>.sidenav</code> tag.</p>
    </div>



    <h3>Variations</h3>
    <p></p>
    <p>Checkout other examples of sidebar component. You should add your desire class to the <code>.sidebar</code>
      tag.</p>
    <p></p>
    <div class="row">
      <div class="col-md-4" id="">


        <div class="promo">
          <img class="bordered" src="../wp-content/uploads/2016/04/sidebar-default.png" alt="default">
          <h3>Default</h3>
          <p>It's default sidebar type, doesn't require any class.</p>
          <a class="btn btn-purple" href="#">Demo</a>
        </div>




      </div>

      <div class="col-md-4" id="">


        <div class="promo">
          <img class="bordered" src="../wp-content/uploads/2016/04/sidebar-line.png" alt="default">
          <h3>Line</h3>
          <p>Uses <code>.sidebar-line</code> class.</p>
          <a class="btn btn-purple" href="#">Demo</a>
        </div>




      </div>

      <div class="col-md-4" id="">


        <div class="promo">
          <img class="bordered" src="../wp-content/uploads/2016/04/sidebar-icon.png" alt="default">
          <h3>Icon</h3>
          <p>Uses <code>.sidebar-icon</code> class.</p>
          <a class="btn btn-purple" href="#">Demo</a>
        </div>




      </div>
    </div><!-- End row -->
    </p>




  </article>
  <!-- END Main content -->