   <!-- Sidebar -->
   <aside class="col-md-3 col-sm-3 sidebar sidebar-icon">

    <ul class="sidenav dropable sticky  ">
      <li id="menu-item-108"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home drop-normal"><a
          title="Overview" href="../index.html">Overview</a></li>
      <li id="menu-item-154"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-normal submenu">
        <a title="Layouts" href="../layout_boxed_left-sidebar/index.html">Layouts</a>
        <ul role="menu" class="">
          <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Boxed &#8211; Left sidebar" href="../layout_boxed_left-sidebar/index.html">Boxed &#8211; Left
              sidebar</a></li>
          <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Boxed &#8211; Right sidebar" href="../layout_boxed_right-sidebar/index.html">Boxed &#8211;
              Right sidebar</a></li>
          <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Boxed &#8211; No sidebar" href="../layout_boxed_no-sidebar/index.html">Boxed &#8211; No
              sidebar</a></li>
          <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Fullwidth &#8211; Left sidebar" href="../layout_full_left-sidebar/index.html">Fullwidth &#8211;
              Left sidebar</a></li>
          <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Fullwidth &#8211; Right sidebar" href="../layout_full_right-sidebar/index.html">Fullwidth
              &#8211; Right sidebar</a></li>
          <li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Fullwidth &#8211; No sidebar" href="../layout_full_no-sidebar/index.html">Fullwidth &#8211; No
              sidebar</a></li>
          <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Single page &#8211; Sample 1" href="../layout_single-page-1-2/index.html">Single page &#8211;
              Sample 1</a></li>
          <li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Single page &#8211; Sample 2" href="../layout_single-page-2/index.html">Single page &#8211;
              Sample 2</a></li>
          <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Single page &#8211; Sample 3" href="../layout_single-page-3/index.html">Single page &#8211;
              Sample 3</a></li>
          <li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Boxed sidebar" href="../layout_sidebar_boxed/index.html">Boxed sidebar</a></li>
          <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Skins" href="../layout_skin/index.html">Skins</a></li>
        </ul>
      </li>
      <li id="menu-item-137"
        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children drop-normal submenu">
        <a title="Components" href="http://#">Components</a>
        <ul role="menu" class="">
          <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Navbar" href="../component_navbar/index.html">Navbar</a></li>
          <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Banner" href="../component_banner/index.html">Banner</a></li>
          <li id="menu-item-202" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Banner &#8211; Sample 1" href="../banner-sample-1/index.html">Banner &#8211; Sample 1</a></li>
          <li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Banner &#8211; Sample 2" href="../banner-sample-2/index.html">Banner &#8211; Sample 2</a></li>
          <li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Banner &#8211; Sample 3" href="../banner-sample-3/index.html">Banner &#8211; Sample 3</a></li>
          <li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Sidebar &#8211; default" href="../sidebar-default/index.html">Sidebar &#8211; default</a></li>
          <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Sidebar &#8211; line" href="../sidebar-line/index.html">Sidebar &#8211; line</a></li>
          <li id="menu-item-221"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-218 current_page_item drop-normal active">
            <a title="Sidebar &#8211; icon" href="index.html">Sidebar &#8211; icon</a></li>
          <li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Footer" href="../footer/index.html">Footer</a></li>
        </ul>
      </li>
      <li id="menu-item-247"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children drop-normal submenu">
        <a title="Basic styling" href="http://#">Basic styling</a>
        <ul role="menu" class="">
          <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Typography" href="../typography/index.html">Typography</a></li>
          <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Alerts" href="../alerts/index.html">Alerts</a></li>
          <li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Tables" href="../tables/index.html">Tables</a></li>
          <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Labels" href="../labels/index.html">Labels</a></li>
          <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Buttons" href="../buttons/index.html">Buttons</a></li>
          <li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Icons" href="../icons/index.html">Icons</a></li>
        </ul>
      </li>
      <li id="menu-item-279"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children drop-normal submenu">
        <a title="Elements" href="http://#">Elements</a>
        <ul role="menu" class="">
          <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Table of Content" href="../table-of-content/index.html">Table of Content</a></li>
          <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Code view" href="../code-view/index.html">Code view</a></li>
          <li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Views" href="../views/index.html">Views</a></li>
          <li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Promo" href="../promo/index.html">Promo</a></li>
          <li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Included files" href="../included-files/index.html">Included files</a></li>
          <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Requirements" href="../requirements/index.html">Requirements</a></li>
          <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Tabs" href="../tabs/index.html">Tabs</a></li>
          <li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Steps" href="../steps/index.html">Steps</a></li>
          <li id="menu-item-280" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Media" href="../media/index.html">Media</a></li>
          <li id="menu-item-307" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Color palette" href="../color-palette/index.html">Color palette</a></li>
          <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Jumbotron" href="../jumbotron/index.html">Jumbotron</a></li>
          <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a
              title="Carousel" href="../carousel/index.html">Carousel</a></li>
        </ul>
      </li>
    </ul>
  </aside>
  <!-- END Sidebar -->