<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheAPI - Doc</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.all.min.css?ver=5.0.2">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie/lit_ie.9.min.css" media="screen"><![endif]-->
    <!--[if IE  8]><link rel="stylesheet" type="text/css" href="css/ie/ie.8.min.css" media="screen"><![endif]-->
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>

    <!-- Fonts -->
    <link href='css/gfont/css9c7d.css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../../apple-touch-icon.html">
    <link rel="icon" href="asset/img/favicon.ico">
</head>

<body>
    <%- include('./common/header') -%>

    <!-- <h1>Hi i am body</h1>
    <img src="asset/g84.png" width="1080" title="Archetacture"> -->

    <%- include('./common/body') %>

    <%- include('./common/footer') -%>
    <!-- Scripts -->
    <script type='text/javascript' src='js/script.all.min.js?ver=5.0.2'></script>

</body>

</html>