
<div class="animated fadeIn upper_space">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-md-3">
            <i class="fa fa-align-justify"></i> Category List
          </div>
          <div class="col-md-6 mb-3 mb-xl-0 input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-magnifier"></i></span>
            </div>

            <input class="form-control" name="valuetosearch" placeholder="Search.." type="text">
          </div>

          <div class="col-md-3">
            <button class="btn btn-block btn-success" [routerLink]="['/theme/categoryadd']" type="button">Add
              Category</button>
          </div>
        </div>

      </div>

      <!--Progress Bar----->
    <div class="spinner" *ngIf="spinnerFunction(loading)">

      <!-- <ngx-spinner ></ngx-spinner> -->
    </div>
      
      <!--Progress Bar End----->

      <div class="card-body">
        
        <div class="scrolling_div">
          
          <table class="table table-bordered" *ngIf="!spinnerFunction(loading)">
            <thead>
              <tr>
                <th>Sl.No</th>
                <th>Category Name</th>
                <th>Category Meta</th>
                <th>Category Description</th>
                <th>Category Image</th>
                <th colspan=2>Action</th>
              </tr>
            </thead>
           
            <tbody >
              
              <tr  *ngFor="let category of categoryData; let i = index">
                <!--td>{{category.cat_id}}</td-->
                <td>{{i+1}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{category.categoryMeta}}</td>
                <td>{{category.categoryDetails}}</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>

                <td><button 
                  class="badge badge-primary"
                  mwlConfirmationPopover
                  [popoverTitle]="updateTitle"
                  [popoverMessage]="updateMessage"
                  placement="top"
                  (confirm)="confirmUpdated(category.cat_id)"
                  (cancel)="cancelUpdated = true">
                  <i class="cui-pencil icons font-2xl mt-4"></i></button> 
                  &nbsp;  
                  <button type="button"
                  class="badge badge-danger"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="top"
                  (confirm)="confirmDeleted(category.cat_id)"
                  (cancel)="cancelDeleted = true"><i
                      class="cui-trash icons font-2xl mt-4"></i></button>

                      
                </td>
              </tr>



            </tbody>
          </table>
        </div>
        <!------scrolling_div--(click)="deleteCatecory(category.cat_id)"-
                  (click)="updateCategoryClick(category.cat_id)"-->

        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-----mwlConfirmationPopover
                  [popoverUpdateTitle]="popoverUpdateTitle"
                  [popoverUpdateMessage]="popoverUpdateMessage"
                  placement="left"
                  (confirm)="confirmUpdated()"
                  (cancel)="cancelUpdated = true"-->

