<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Login</a></li>
    </ul>
    
    <div class="row full_content">
        <div id="content" class="col-sm-12">
            <div class="page-login">
            
                <div class="account-border">
                    <div class="row">
                        <div class="col-sm-6 new-customer">
                            <div class="well">
                                <h2><i class="fa fa-file-o" aria-hidden="true"></i> New Customer</h2>
                                <p>If you have not any account create an account. By creating an account you will be able to shop faster. Click "continue" button. </p>
                            </div>
                            <div class="bottom-form">
                                <a routerLink="/register" class="btn btn-default pull-right">Continue</a>
                            </div>
                        </div>
                        
                        <form name="phoneInfo" id="phoneInfo" (ngSubmit)="phoneInfo.valid && onSubmit()" >
                            <div class="col-sm-6 customer-login">
                                <div class="well">
                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Existing Customer</h2>
                                    <p><strong>Please type phone number here to generate OTP. OTP will send to your existing phone number</strong></p>
                                    <div class="form-group" [formGroup]="phoneInfo">
                                        <label class="control-label " for="phone_number">Phone Number</label>
                                        <!----Validation Start-->
                                        <input type="text" placeholder="Enter phone number" class="form-control" 
                                        id="phone" name="phone" formControlName="phoneNumber" [(ngModel)]="phone" />

                                        <div *ngIf="phoneInfo.get('phoneNumber').errors && phoneInfo.get('phoneNumber').touched">
                                        <span class="error_class" *ngIf="phoneInfo.get('phoneNumber').errors['required']">Phone number required</span>
                                        <span class="error_class" *ngIf="phoneInfo.get('phoneNumber').errors.pattern">Type valid phone number 10 charector</span>
                                        </div>
                                        <!----Validation End-->                                    </div>
                                    <!--div class="form-group">
                                        <label class="control-label " for="input-password">Password</label>
                                        <input type="password" name="password" value="" id="input-password" class="form-control" placeholder="Type password">
                                    </div-->
                                </div>
                                <div class="bottom-form">
                                    <!--a href="#" class="forgot">Forgotten Password</a-->
                                    <a routerLink="/login" class="other_details">Skip >></a> &nbsp;
                                    <input type="submit" [disabled] = "!phoneInfo.valid" value="Submit" class="btn btn-default pull-right">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
